* {
    direction: rtl;
}
.fl-right {
    float: left!important;
}
.fl-left {
    float: right!important;
}
.section-title{
	padding-right: 0.875rem;
	padding-left: auto;
}

.pr-1{
    padding-left: 1rem !important;
}
.pl-1{
    padding-right: 1rem !important;
}
.mr-1{
    margin-left: 1rem !important
}
.mr-33 {
    margin-left: 3.3rem !important;
    margin-right: 0;
}

.mr-345 {
    margin-left: 3.45rem !important;
    margin-right: 0;
}

.ml-1{
    margin-right: 1rem !important;  
    margin-left: initial;
}
.mr-dot72{
    margin-left: 0.72rem !important
}
.ml-dot72{
    margin-right: 0.72rem !important
}
.mr-dot5{
    margin-left: 0.5rem !important;
    margin-right: 0 !important;
}
.ml-dot5{
    margin-right: 0.5rem !important  
}

/*Fare Option Brand start*/
.card-header-right-section p.disabled-brand{
    padding-right: 0;
    padding-left: 1rem;
}
.disabled-brand .card-header-left-section{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4.5px;
}
.fare-option-card .card-header .card-header-left-section{
    float: right;
    border-top-left-radius: 0;
    border-top-right-radius: 4.5px;
}
.fare-option-card .card-header .card-header-right-section{
    text-align: left;
}
.card-header-right-section p{
    padding-right: 0;
    padding-left: 3.156rem;
}
.red-radio-button label{
    right: unset;
    left: 1rem;
}
.fare-option-flag{
    left: -4.6%;
    right: unset;
    border-bottom-left-radius: initial;
    border-top-right-radius: 0.125rem;
    border-top-left-radius: 0.250rem;
    border-bottom-right-radius: 0.250rem;
}
.fare-option-flag-tail{
    transform: scaleX(-1);
    left: 0;
    right: unset;
}
.cugo-icon-fare-option-brand{
    margin-right: 0;
    margin-left: 5px;
    float: right;
}
.warning-container .mixed-class-icon{
    float: right;
    margin-right: 0;
    margin-left: 5px;
}
.card-container .checked_in_baggage-icon{
    float: right;
}
.card-container .row-icon{
    margin-right: 0;
    margin-left: 0.406rem;
}
.tooltip {
    margin-right: 0.6rem;
}
/*Fare Option Brand end*/

/*Popup start*/
.popup-cross-button{
    right: auto;
    left: 0;
    margin-right: 0;
    margin-left: 4%;
}
.top-heading{
    padding: 6px 25px;
}
/*Popup end*/

/*search results sector start*/
.back-arrow{
    float: right;
    transform: scaleX(-1);
}
/*.planeicon{
    transform: scaleX(-1);
}*/
.filter-icon{
    
    padding-left: 0;
    padding-right: 1.625rem;
}
.filter-container-inner
{
    margin-right:initial;
    margin-left: 0.906rem;
}
/*search results sector end*/


/*Flight Component CSS starts*/

.fly-details-flight-component { 
    display:flex;
}
.fly-arrival-img-time{ 
    margin-top:0.1rem
}
.fly-type-flight-component{ 
    margin-top:1.7rem; 
}
.selected-flight{         
    padding-right: 0.344rem;
    padding-left: initial;
}

.tick-green{
    float: right;
    margin-left: initial;
    margin-right: 0.344rem;
}

.cugo-img-flight-component{
    top: 0.3rem;
}
.fly-stop-flight-component {
    margin-right: 33%;
}

.lowest-price-tool-tip-shadow{
    left: 0;
    border-width: 0.5rem 0 0 0.5rem;
    right:initial;
}
.fly-imag-center {
    float: right;
}
.flight-img-flight-component{
    margin-right:5%;
    margin-left:0%;
    transform: rotate(180deg);
}
.train-tail-flightcomponent {
    margin-left:5%;
}

.lowest-price-tool-tip{
    left: -2.4% !important;
    right:initial;
    border-bottom-right-radius: 0.425rem;
    border-bottom-left-radius: 0rem;
}
.containerselected{
  
    border-left: solid 2px #32753a;
    border-right: solid 2px #32753a;
   margin-left:1.000rem;
    margin-right:1.000rem;
}

.fly-header {
    border-top-left-radius: 0.250rem;
    border-top-right-radius: 0.250rem;

}

.fly-number{
    padding-right: 0.813rem;
    padding-left: 0rem;
    float:right;    
}


.fly-orgin {
    margin-right: 0.875rem;
    margin-left: 0rem;
    float:right;
    text-align: right;
  
}
.fly-duration-flight-component {
  margin-right:-0.813rem;
  margin-left:0rem;
  float:right;
}

.fly-depart-flight-component {
    margin-left: 0rem;
    margin-right: 0.813rem;
    float:right;
    text-align: right;
}

.fly-price-info{
    float:left !important;
    text-align:left !important;
    padding: 1rem 0rem 1rem .750rem;
}


.flight-msg-container-flight-component{
    border-bottom-left-radius:0.313rem;
    border-bottom-right-radius:0.313rem;
    
}
.flight-msg-flight-component{
    padding-left:1.2rem;
    padding-right:3.563rem;
}

.DB_MESSAGE-img{
    padding-right: 1.2rem;
    padding-left: .44rem;
    float:right;
}
.next-day-arrival{
    margin-left: -3.000rem;
    margin-right: 0rem;
    float:left;
}

.operated-by-fly-img{
    padding-left: 0.938rem;
    padding-right: 3%;
}

.operated-by-msg{
    margin-right:13%;
    margin-left:0.113rem;
}

.operated-by-bus-trn-img{
    padding-left: 0.938rem;
    padding-right: 3%;
}


.link-name{
    float:right;
}


.fly-info-link{
  
    float:right;
}

.path-left {
    margin-right: 11.7%;
    margin-left: 0%;
}
  
.fly-arrival-flight-component {
    margin-right: 0rem;
    margin-left: 1.225rem;
    float: left;
}
.dot{
    margin-right: 59%;
    margin-left: 0%;
}
 
.img-link{
    margin-right: 0.9rem;
    margin-left: 0.313rem;
    float: right;
}

.info-white-img-link{
    margin-right: .9rem;
    margin-left: .313rem;
    float:right;
}

.tailfin-img-outer{
    float:left;
}
.aircraft{
    float:right;
}
.tailfin-img{
    float:right;
    padding-right:initial;
    padding-right: .125rem;
}

.fly-destination-flight-component {
    margin-left:1.83rem;
}

.pd-r-5{
    padding-left: .31rem;
}

/*Flight Component CSS ends*/

/* flight info */

.fly-type{
    margin-top:1.2rem;
} 
.fly-depart-arrival{
    margin-top:0.275rem;
}
.fly-details{
    display:flex;
 } 
.fly-stop-flight-info {
    margin-right: 45% !important;
}

.fl-right-fligt-info {
    float: left;
}

.fly-date {
    text-align: right;
    padding-right: 0.906rem;
    padding-left:0rem;
}

.fly-loc {
   text-align: right;
   padding-right: 0.844rem ;
   padding-left:0rem;
}

.flight-info-fly-orgin {
    text-align: right;
    margin-right: 0.875rem;
    margin-left: 0rem;
    float:right;
}

.fly-duration-flight-info {
    float: right;
}

.fly-destination-flight-info {
    margin-left: 0.750rem;
}


.fly-depart-flight-info {
    text-align: right;
    margin-right: 0.813rem;
    margin-left: 0rem;
    float: right;
}

.fly-arrival {
    margin-left: 1.125rem;
    margin-right:0rem;
    float: left;
}


.fly-bus-train-heading {
   text-align: right;
   padding-right: 0.500rem;
   margin-right: 3.406rem;
   padding-left: 0rem;
   margin-left:0rem;
}

.aircraft-vehicle-type {
   text-align: right;
   margin-right: 1.563rem;
   margin-left: 8.438rem;
}

.fly-no {
   text-align: right;
   padding-right: 0.500rem;
   padding-left:0rem;
   margin-left: 2.438rem;
   margin-right: 3.406rem;
}

.aircraft-name {
   text-align: right;
   margin-left: 2.438rem;
   margin-left: 0rem;
   
}

.flight-info-path {
    margin-left: 0%;
    width:47%;
    margin-right: 8.4%;
}

.bus-info-path{
    margin-right: 12.5%;
}

.train-info-path{
    margin-right: 12%;
}

@media only screen and (width: 1024px) {
    .flight-info-path {
        width: 48%;
        margin-right: 5.5%;
    }
}
@media only screen and (width: 768px) {
    .flight-info-path {
        width: 48%;
        margin-right: 5.7%;
    }
}

.flight-info-dot {
    margin-left: 0%;
    margin-right: 55%;
}

.close {
   margin-left: 1.394rem;
   margin-right: 21.075rem;
}

.heading {
    margin-left: 2.5rem;
    margin-right: 2.406rem;
}

.fly-connection {
    margin-right:27%;
    margin-left:0%;
}

.fly-connection-duration {
   margin-right: 29%;
   margin-left:0%;
}



.flight-tail {
   padding-right:0.781rem;
   padding-left:initial;
}
.train-tail {
    padding-right:0.781rem;
    padding-left:initial;
}
.bus-tail {
    padding-right:0.781rem;
    padding-left:initial;
}
.flight-img-flight{
    margin-right:2.3%;
    margin-left:0%;
    transform: rotate(180deg);
}
.bus-img{
    margin-right:1%;
    margin-left:0%;
    transform: scaleX(-1);
}
.train-img{
    transform: scaleX(-1);
    margin-right:1%;
    margin-left:0%;
    
}
.fly-interline-connection-img{
    margin-right: 14%;
    margin-left: 0%;
}
.close-img{
  float:right;
  margin-left: 1rem;
  margin-right: 0rem;
}
/*.SAUDI-img-flight-info{
    float: right;
    padding-right: 0.844rem;
    padding-left: 0.56rem;
}*/

.DB_MESSAGE-img-flight-info{
    float: right;
    padding-right: 0.844rem;
    padding-left: 0.56rem;
}
.flight-msg-flight-info{
    text-align: right;
    padding-right:3.03rem;
    padding-left:0.9rem;
}

.modal-container{
    left: 50%;
    right:initial;
}
.pl-40{
    padding-right: 0.8rem;
}

/* Flight info ends */

/* fare option - ToolTip starts*/
.extrabaggage_name{
    margin-left:initial;
    margin-right:-1% !important;
}

.tooltip .tooltiptext {
    text-align: left;
}
.leftToolTip{
    /*margin-left: -14.313rem;*/
    margin-left: -10.313rem;
    margin-right:initial;
    left: initial;
    right: -.5rem;
}
.leftToolTip::after {
    right: 5%;
    left:initial;
    margin-left: -2.875rem;
    margin-right:initial;
}
.centerToolTip{
    margin-left: 2.125rem;
}
.centerToolTip::after {
    left: 45%;
    right: initial;
}
.rightToolTip{
    /*margin-right: -14.75rem;*/
    margin-right: -12.75rem;
    margin-left: initial;
    left: -0.438rem;
    right: initial;
}
.tooltip .rightToolTip::after {
    left: -5%;
    right: initial;
    margin-left: 1.687rem;
    margin-right: initial;
}
.seat-selection{
    margin-right: -1.5rem !important;
    margin-left:initial !important;
}
/* fare option - ToolTip ends*/
/*Footer Css starts*/
.footer a.footer-logo-link {
    right: initial;
    left:0;
    margin-left: 3rem;
    margin-right:initial;
}
.footer .cols-ul ul {
    float: right;
    margin-left: 0.938rem;
    margin-right: initial;
}
.footer .footer-links ul li {
    margin-left: 1.350rem;
    margin-right:initial;
}
/*Footer Css Ends*/

/**CC10 start**/
.cc10-icon{
    float: right;
    margin-left: 0.8rem;
    margin-right: 0;
    transform: scaleX(-1);
}
.cc10-flight-icon, .cc10-icon-flight-info, .cc10-warning-icon{
    transform: scaleX(-1);
}
.miles-upgrade-container{
    float: left;
}
.cc10-icon-flight-info{
    left: -2.1rem;
    float: right;
}
.warning-cc10-container-sector-component .content-sector-component{
    margin-left: 0rem;
    margin-right: 1.1rem;
}
.cc10-flag-container{
    left: 11.5rem;
}
/**CC10 ends**/

/**
Skywards component styles movement starts
*/


.miles-leftpart{
    float: right;
}
.skywards-name{
    padding-right: 1.000rem;
    padding-left: initial;
    text-align: right !important;
}
.skywards-miles{
    padding-right: 1.000rem;
    padding-left: initial;
    text-align: right !important;
}
.miles-rightpart {
    float: left;
}
.skywards-img {
    margin-left: 1rem;
    margin-right: initial;
}
/**
Skywards component styles movement ends
*/

/* fade in out popup component  starts*/
.popup-cross-button-fade-in-out-popup {
    margin-left: 4%;
    margin-right:initial;
    left: 0;
    right:initial;
}
/*fade in out popup component  ends*/


/* Fare option cabin tab starts*/
.fare-opt-cabin-Y, .fare-opt-cabin-J, .fare-opt-cabin-F{
    padding-right:1.000rem;
    padding-left:  0.625rem;
}
/* Fare option cabin tab ends*/