
<div className="sortcontainer">
  <div className="filter-and-sort-heading-outer">
    <p className="filter-and-sort-heading-title">{{ 'tridResource.config_mabfb_i18n_searchByPriceResults.label_popup_sortby' | translate }}</p>
  </div>
  <div class="sortby-popup-inner-div" *ngIf="recommendedSortAvailable==false && milesSortAvailble==false">
    <div class="d-table w100 text-center">
  
      <!--Price Sorting area -->
      <div class="display-inline-blk w50"> 
        <div (click)="sort('Price')" class="sortbycellcontainer fl-left" [ngClass]="{selected:sortType === 'Price'}">
          <div class="lowestprice_img" [ngClass]="{'black' : sortType !== 'Price','red':sortType === 'Price' }"></div>
          <p>{{ 'tridResource.config_mabfb_i18n_searchByPriceResults.label_sortby_Price' | translate }}</p>
        </div>
      </div>
  
      <!--Time Sorting area -->
      <div class="display-inline-blk w50">
        <div (click)="sort('Arrival')" class="sortbycellcontainer fl-right" [ngClass]="{selected:sortType === 'Arrival'}">
          <div class="arrival_img" [ngClass]="{'black' : sortType !== 'Arrival','red':sortType === 'Arrival' }"></div>
          <p>{{ 'tridResource.config_mabfb_i18n_searchByPriceResults.label_sortby_Arrival' | translate }}</p>
        </div>
      </div>
  
        <!--Time Sorting area -->
        <div class="display-inline-blk w50">
          <div (click)="sort('Time')" class="sortbycellcontainer fl-left" [ngClass]="{selected:sortType === 'Time'}">
            <div class="depaturetime_img" [ngClass]="{'black' : sortType !== 'Time','red':sortType === 'Time' }"></div>
            <p>{{ 'tridResource.config_mabfb_i18n_searchByPriceResults.label_sortby_Time' | translate }}</p>
          </div>
        </div>
  
          <!--Duration Sorting area -->
          <div class="display-inline-blk w50">
            <div (click)="sort('Duration')" class="sortbycellcontainer fl-right" [ngClass]="{selected:sortType === 'Duration'}">
              <div class="shortestduration_img" [ngClass]="{'black' : sortType !== 'Duration','red':sortType === 'Duration' }"></div>
              <p>{{ 'tridResource.config_mabfb_i18n_searchByPriceResults.label_sortby_Duration' | translate }}</p>
            </div>
          </div>
        
          
   
  
    </div>
  </div>
  
  
  <!-- 5.7 sorting changes  -->
  
  <div class="sortby-popup-inner-div-medium" *ngIf="recommendedSortAvailable == true || milesSortAvailble == true">
    <div class="flex-container wrap">
  
     <!--Recomended Sorting -->
     <div *ngIf="recommendedSortAvailable" class="display-inline-blk w33">
      <div (click)="sort('RECOMMEND')" class="sortbycellcontainermedium" [ngClass]="{selected:sortType === 'RECOMMEND'}">
        <div class="recommended_img" [ngClass]="{'black' : sortType !== 'RECOMMEND','red':sortType === 'RECOMMEND' }"></div>
          <p>{{ 'tridResource.config_mabfb_i18n_searchByPriceResults.label_sortby_RECOMMEND' | translate }}</p>
      </div>
    </div>
    
    <!--Lowest Price Sorting  -->
    <div class="display-inline-blk w33">
      <div (click)="sort('Price')" class="sortbycellcontainermedium" [ngClass]="{selected:sortType === 'Price'}">
        <div class="lowestprice_img" [ngClass]="{'black' : sortType !== 'Price','red':sortType === 'Price' }"></div>
          <p>{{ 'tridResource.config_mabfb_i18n_searchByPriceResults.label_sortby_Price' | translate }}</p>
      </div>
    </div>
  
     <!--Arrival Time Sorting  -->
    <div class="display-inline-blk w33">
      <div (click)="sort('Arrival')" class="sortbycellcontainermedium" [ngClass]="{selected:sortType === 'Arrival'}">
        <div class="arrival_img" [ngClass]="{'black' : sortType !== 'Arrival','red':sortType === 'Arrival' }"></div>
          <p>{{ 'tridResource.config_mabfb_i18n_searchByPriceResults.label_sortby_Arrival' | translate }}</p>
      </div>
    </div>
  
     <!--Depature Time Sorting  -->
     <div class="display-inline-blk w33">
       <div (click)="sort('Time')" class="sortbycellcontainermedium" [ngClass]="{selected:sortType === 'Time'}">
         <div class="depaturetime_img" [ngClass]="{'black' : sortType !== 'Time','red':sortType === 'Time' }"></div>
          <p>{{ 'tridResource.config_mabfb_i18n_searchByPriceResults.label_sortby_Time' | translate }}</p>
       </div>
     </div>
    
      <!--Shortest Duration Time Sorting  -->
     <div class="display-inline-blk w33">
       <div (click)="sort('Duration')" class="sortbycellcontainermedium" [ngClass]="{selected:sortType === 'Duration'}">
          <div class="shortestduration_img" [ngClass]="{'black' : sortType !== 'Duration','red':sortType === 'Duration' }"></div>
            <p>{{ 'tridResource.config_mabfb_i18n_searchByPriceResults.label_sortby_Duration' | translate }}</p>
        </div>
     </div>
  
       <!--Miles Duration Time Sorting  -->
       <div *ngIf="milesSortAvailble" class="display-inline-blk w33">
        <div (click)="sort('Miles')" class="sortbycellcontainermedium" [ngClass]="{selected:sortType === 'Miles'}">
           <div class="miles_img" [ngClass]="{'black' : sortType !== 'MIles','red':sortType === 'Miles' }"></div>
             <p>{{ 'tridResource.config_mabfb_i18n_searchByPriceResults.label_sortby_Miles' | translate }}</p>
         </div>
      </div>
         
  </div>
  </div>
  
  
</div>
